[Desktop Entry]
Name=Spring Tool Suite 4
Comment=Spring Tool Suite 4
Exec=/opt/sts-{{ sts_version }}/SpringToolSuite4
Icon=/opt/sts-{{ sts_version }}/icon.xpm
StartupNotify=true
Type=Application
Categories=Development;IDE;Java;
